<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Shortner</title>
</head>
<body>
    <h1>URL Shortner</h1>
    <% if (locals.id) {%>
    <h3>URL Generated: http:localhost:8010/<%= locals.id %></h3>
    <%}%>
    <div>
     <form method="post" action="/url">
        <label>Enter original URL</label>
        <input type="text" name="url" placeholder="http://example.com">
        <button type="submit">Generate</button>
     </Form>
    </div>
    <div>
        <table>
            <thead>
                <th>S. No</th>
                <th>ShortID</th>
                <th>Original Url</th>
                <th>Clicks</th>
                <tbody>
                    <% if (urls && urls.length) { %>
                        <% urls.forEach((url, i) => { %>
                            <tr>
                            <td><%= i+1 %></td>
                            <td><%= url.shortId %></td>
                            <td><%= url.ogUrl %></td>
                            <td><%= url.visitCount %></td>
                            </tr>
                        <% }) %>
                    <% } %>
                </tbody>
            </thead>
        </table>
    </div>
</body>
</html>